[Unit]
Description=DataVast Agent
After=network.target

[Service]
ExecStart=/opt/datavast/datavast-agent
Environment=SERVER_URL=http://<SERVER_IP>:8080
Restart=always
User=root
WorkingDirectory=/opt/datavast

[Install]
WantedBy=multi-user.target
